---
const personalImageAlt = "Daniel Ortiz"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-cyan-500 dark:[&>p>strong]:text-cyan-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
        Me llamo Ramiro Daniel Ortiz, aunque mis amigos me llaman Dani. 
        Comencé en el mundo de la programación a los 16 años con Java. 
        Actualmente, estoy <strong>trabajando en proyectos personales y colaborando con compañeros de estudios</strong>, como el desarrollo de un sistema de cañerías inteligentes llamado <strong>Sanit-Plast</strong>.
        </p>

        <p>
        Entre mis logros se encuentra <strong>la creación de un emprendimiento de venta de planteras llamado "Macetas Claveles"</strong>, donde ofrezco productos únicos para el hogar. Estoy constantemente buscando innovar y mejorar mis habilidades en diseño y desarrollo.
        </p>

        <p>
        Como diseñador 3D, <strong>he desarrollado varios proyectos utilizando herramientas avanzadas que me permiten crear soluciones únicas y atractivas</strong>. Mi objetivo es seguir creciendo profesionalmente y contribuir a la comunidad con mi conocimiento y experiencia.
        </p>
    </div>

    <img width="200" height="200" src="../../public/img/dani-photo.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-cyan-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
